@model IEnumerable<PalRSA.Core.DataAccess.Contribution>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExportAsExl</title>
</head>
<body>
    
    @*<h3 class="logo col-md-4 col-sm-4 pull-right">
        <img id="logo" src="/images/Pal-logo.png" alt="Logo">
    </h3>*@<!--//logo-->

<div>
    <table>
        <thead>
        <tr>
            <th>Employee Contribution</th>
            <th>Employer Contribution</th>
            <th>Contribution Date</th>
            <th>Other Contribution</th>
            <th>Employee Fee</th>
            <th>Employer Fee</th>
            <th>Other Fee</th>
            <th>Total Units</th>
            <th>Total Contribution</th>
            <th>Total Fee</th>
            <th>Payment Date</th>
            <th>Trans Date</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        @{
            if (Model != null)
            {
                foreach (var trans in Model)
                {
                    <tr>
                        <td>@string.Format(new System.Globalization.CultureInfo("yo-NG"), "{0:C}", @Math.Round((decimal) trans.EmployeeContribution, 4))</td>
                        <td>@string.Format(new System.Globalization.CultureInfo("yo-NG"), "{0:C}", @Math.Round((decimal) trans.EmployerContribution, 4))</td>
                        <td>@trans.ContributionDate.Value.ToString("MMM dd, yyyy")</td>
                        <td>@string.Format(new System.Globalization.CultureInfo("yo-NG"), "{0:C}", @Math.Round((decimal) trans.OtherContribution, 4))</td>
                        <td>@string.Format(new System.Globalization.CultureInfo("yo-NG"), "{0:C}", @Math.Round((decimal) trans.EmployeeFee, 4))</td>
                        <td>@string.Format(new System.Globalization.CultureInfo("yo-NG"), "{0:C}", @Math.Round((decimal) trans.EmployerFee, 4))</td>
                        <td>@string.Format(new System.Globalization.CultureInfo("yo-NG"), "{0:C}", @Math.Round((decimal) trans.OtherFee, 4))</td>
                        <td>@string.Format(new System.Globalization.CultureInfo("yo-NG"), "{0:C}", @Math.Round((decimal) trans.TotalUnits, 4))</td>
                        <td>@string.Format(new System.Globalization.CultureInfo("yo-NG"), "{0:C}", @Math.Round((decimal) trans.TotalContribution, 4))</td>
                        <td>@string.Format(new System.Globalization.CultureInfo("yo-NG"), "{0:C}", @Math.Round((decimal) trans.TotalFee, 4))</td>
                        <td>@trans.PaymentDate.Value.ToString("MMM dd, yyyy")</td>
                        <td>@trans.TransDate.Value.ToString("MMM dd, yyyy")</td>
                        <td>@string.Format(new System.Globalization.CultureInfo("yo-NG"), "{0:C}", @Math.Round((decimal) trans.Price, 4))</td>
                    </tr>
                }
            }

        }
        </tbody>
    </table>
</div>
</body>
</html>

