@model PalRSA.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Password Reset";
    //Layout = "~/Views/Shared/_Plain.cshtml";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Site1.css" rel="stylesheet" />
    <title>@ViewBag.Title - PAL Pensions</title>
    <link href="~/Content/forgot-password.css" rel="stylesheet" />

    <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).mousemove(function (e) {
                TweenLite.to($('body'),
                   .5,
                   {
                       css:
                         {
                             backgroundPosition: "" + parseInt(event.pageX / 8) + "px " + parseInt(event.pageY / '12') + "px, " + parseInt(event.pageX / '15') + "px " + parseInt(event.pageY / '15') + "px, " + parseInt(event.pageX / '30') + "px " + parseInt(event.pageY / '30') + "px"
                         }
                   });
            });
        });
    </script>

</head>
<body style="position: relative">
    <div class="col-md-12" style="padding: 0; overflow-y:hidden">
        <div class="col-md-8 hidden-xs hidden-sm loginImage" style="position: relative;">
            <div class="circle"> </div>
            <div class="circle2"> </div>
            <div class="img-div1" style="display: block">
                @*<img src="~/Content/images/Group582.png" style="width: 30%" />*@
                <img src="~/Content/Images/Center-Image.png" style="width: 30%" />
                @*<h4> <b>Welcome to PAL Pensions</b></h4>*@
                <h4> <b>PAL Pensions RSA Portal</b></h4>
                <p style="color: darkslateblue">@*Your Padi of life*@</p>
            </div>
            <div class="img-div2">
                <img src="~/Content/images/image016.png" style="width: 70%" />
                <h4><b>Save for the Future</b></h4>
                <p style="color: darkslateblue">Save towards your goals. Start saving, Start today, Start now!</p>
            </div>
            <div class="img-div3">
                <img src="~/Content/images/image017.png" style="width: 70%" />
                <h4><b>Plan Your Finances</b></h4>
                <p style="color: darkslateblue">Start planning today. Let us help you achieve the financial freedom you deserve</p>
            </div>
            <div class="img-div4">
                <img src="~/Content/images/image018.png" style="width: 70%" />
                <h4><b>Retire with a Smile</b></h4>
                <p style="color: darkslateblue">Get your retirement benefits delivered to you with ease</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 login">
            <div style="background-color: white !important; padding: 35px; padding-top: 25%; height: 100%; ">
                <div class="title">
                    <img src="~/Content/images/PALLogo.png" style="width: 40%" />
                    <br />
                    <h3>Forgot Password?</h3>
                    <p>Enter Email Your email</p>
                </div>

                <div class="panel-body">
                    @if ((string)TempData["Status"] == "success")
                    {
                        <div class="alert alert-success exceed">
                            <span class="glyphicon glyphicon-ok"></span> <strong>Success!</strong><span class="stat"> Your password has been reset! Click loggon at the top</span>
                        </div>
                    }
                    else if ((string)TempData["Status"] == "nah")
                    {
                        <div class="alert alert-warning col-md-12" id="warning">
                            <span class="glyphicon glyphicon-record"></span> <strong>Warning!</strong> <span class="message"> @TempData["error"]</span>
                        </div>
                    }

                    <br clear="all" />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label">New Password:</label> @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "New Password" })
                                @Html.ValidationMessageFor(model => model.Password)
                                @Html.HiddenFor(model => model.Token)
                            </div>
                            <div class="form-group">
                                <label class="control-label">Confirm Password:</label> @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                            @*<input class="btn btn-lg btn-success btn-block" type="submit" value="Submit">*@
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
                        </fieldset>
                    }

                </div>

            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
