@model PalRSA.Core.DataAccess.CFIBiometric

@{
    ViewBag.Title = "Upload Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = Convert.ToInt32(this.ViewContext.RouteData.Values["id"]);
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <button type="button" class="btn"> <a href="@Url.Action("edit", new { id=id})"> <span> <i class="glyphicon glyphicon-user" style="color : #e98fa0;"></i> Biodata </span></a></button></li>
        <li class="breadcrumb-item"> <button type="button" class="btn"> <a href="@Url.Action("addemployment", new { id=id})"> <span> <i class="glyphicon glyphicon-list" style="color : #e98fa0;"></i> Employment Details </span></a></button></li>
        <li class="breadcrumb-item"> <button type="button" class="btn"> <a href="@Url.Action("AddNok", new { id=id})"> <span> <i class="glyphicon glyphicon-list-alt" style="color : #e98fa0;"></i> Next of Kin </span></a></button></li>
        <li class="breadcrumb-item"> <button type="button" class="btn"> <a href="@Url.Action("AddSalary", new { id=id})"> <span> <i class="glyphicon glyphicon-folder-close" style="color : #e98fa0;"></i> Salary Structure </span></a></button></li>
        <li class="breadcrumb-item"> <button type="button" class="btn"> <a href="@Url.Action("AddImages", new { id=id})"><span> <i class="glyphicon glyphicon-camera" style="color : #e98fa0;"></i> Upload Images</span></a></button></li>
        @*<li class="breadcrumb-item"><a href="@Url.Action("SupportDoc", new { id=id})"><strong>Support Documents</strong></a></li>*@
        <li class="breadcrumb-item"> <button type="button" class="btn"><a href="@Url.Action("SupportDoc", new { id=id})"><span> <i class="glyphicon glyphicon-lock" style="color : #e98fa0;"></i>Support Documents)</span></a></button></li>
    </ol>
</nav>

<h4>@ViewBag.Title</h4>

<p>
    <h3>Click on Download to Download the ConsentForm, fill and scan and save in Jpeg and upload </h3>
    <button class="btn">
        <i class="glyphicon glyphicon-download" style="color : #e98fa0;"></i>
        <a href="~/ConsentForm/ACKNOWLEDGEMENT SLIP-mini.pdf" target="_blank">Download Consent Form</a>
    </button>
</p>
@using (Html.BeginForm("AddImages", "Recapture", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    <hr />

    <div class="col-md-12">
        @Html.Partial("_Response")
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("UserId")
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Biometrics Upload</h3>

                </div>
                <div style="padding-left: 50px">
                    <table class="table">
                        <tr>
                            <td class="">
                                <div class="responsive">
                                    <div class="gallery">
                                        <img id="output" width="100" height="100" alt="" /><br>
                                        <input type="file" id="browse" accept="image/*" name="passport" style="display: none" onChange="Handlechange(); loadFile(event);" />
                                        <br />
                                        <span class="text-danger"><strong>(White background passport photograph and Allowed size is 224kb)</strong></span>
                                        <br />
                                         <input id="filename" readonly style="display: none" type="text" />
                                        &nbsp;<input type="button" value="Pass Port" id="fakeBrowse" class="btn btn-primary biometric_margin-top_10 biometric-disabled" onclick="HandleBrowseClick();" />
                                    </div>
                                </div>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </td>
                            <td class="">
                                <div class="responsive">
                                    <div class="gallery">
                                        <img id="signature" width="100" height="100" alt="" /><br>
                                        <input type="file" id="browseSignature" accept="image/*" name="signature" style="display: none" onChange="HandlechangeSignature();loadFileSignature(event);" />
                                        <br />
                                        <span class="text-danger"><strong>(Allowed size is 224kb)</strong></span>
                                        <br />
                                         <input id="filenameSignature" readonly style="display: none" type="text" />
                                        <input type="button" value="Contributor Signature" id="fakeBrowse" class="btn btn-primary biometric_margin-top_10 biometric-disabled" onclick="HandleBrowseClickSignature();" />
                                    </div>
                                </div>
                            </td>
                            <td class="">
                                <div class="responsive">
                                    <div class="gallery">
                                        <img id="consent" width="100" height="100" alt="" /><br>
                                        <input type="file" id="browseConsent" accept="image/json/*" name="consent" style="display: none" onChange="HandlechangeConsent(); loadFileConsent(event);" />
                                        <br />
                                        <span class="text-danger"><strong>(Allowed size is 600kb.Consent Form Only accept JPEG)</strong></span>
                                        <br />
                                        <input id="filenameConsent" readonly style="display: none" type="text" />
                                        &nbsp;<input type="button" value="Consent Form.." id="fakeBrowse" class="btn btn-primary biometric_margin-top_10 biometric-disabled" onclick="HandleBrowseClickConsent();" />
                                    </div>
                                </div>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save & Continue >>" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

 

@section scripts {
   <script>
        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClick() {
            var fileinput = document.getElementById("browse");
            fileinput.click();
        }

        function Handlechange() {
            var fileinput = document.getElementById("browse");
            var textinput = document.getElementById("filename");
            textinput.value = fileinput.value;
        }

        //this is for Contributor's Signature
        var loadFileSignature = function(event) {
            var output = document.getElementById('signature');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickSignature() {
            var fileinput = document.getElementById("browseSignature");
            fileinput.click();
        }

        function HandlechangeSignature() {
            var fileinput = document.getElementById("browseSignature");
            var textinput = document.getElementById("filenameSignature");
            textinput.value = fileinput.value;
        }
        //this is for Congent Form
        var loadFileConsent = function (event) {
            var output = document.getElementById('consent');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickConsent() {
            var fileinput = document.getElementById("browseConsent");
            fileinput.click();
        }

        function HandlechangeConsent() {
            var fileinput = document.getElementById("browseConsent");
            var textinput = document.getElementById("filenameConsent");
            textinput.value = fileinput.value;
        }
        //this is for PFA Signature
        var loadFilePfaSignature = function (event) {
            var output = document.getElementById('pfaSignature');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickPfaSignature() {
            var fileinput = document.getElementById("pfaBrowseSignature");
            fileinput.click();
        }

        function HandlechangePfaSignature() {
            var fileinput = document.getElementById("pfaBrowseSignature");
            var textinput = document.getElementById("pfaFilenameSignature");
            textinput.value = fileinput.value;
        }

        //For Right Thumb
        var loadFileRightThumb = function(event) {
            var output = document.getElementById('rightThumb');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickRightThumb() {
            var fileinput = document.getElementById("browseRightThumb");
            fileinput.click();
        }

        function HandlechangeRightThumb() {
            var fileinput = document.getElementById("browseRightThumb");
            var textinput = document.getElementById("filenameRightThumb");
            textinput.value = fileinput.value;
        }

        //For Right Index
        var loadFileRightIndex = function(event) {
            var output = document.getElementById('rightIndex');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickRightIndex() {
            var fileinput = document.getElementById("browseRightIndex");
            fileinput.click();
        }

        function HandlechangeRightIndex() {
            var fileinput = document.getElementById("browseRightIndex");
            var textinput = document.getElementById("filenameRightIndex");
            textinput.value = fileinput.value;
        }

        //For Right Middle
        var loadFileRightMiddle = function(event) {
            var output = document.getElementById('rightMiddle');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickRightMiddle() {
            var fileinput = document.getElementById("browseRightMiddle");
            fileinput.click();
        }

        function HandlechangeRightMiddle() {
            var fileinput = document.getElementById("browseRightMiddle");
            var textinput = document.getElementById("filenameRightMiddle");
            textinput.value = fileinput.value;
        }

        //For Right Ring
        var loadFileRightRing = function(event) {
            var output = document.getElementById('rightRing');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickRightRing() {
            var fileinput = document.getElementById("browseRightRing");
            fileinput.click();
        }

        function HandlechangeRightRing() {
            var fileinput = document.getElementById("browseRightRing");
            var textinput = document.getElementById("filenameRightRing");
            textinput.value = fileinput.value;
        }

        //For Right Little
        var loadFileRightLittle = function(event) {
            var output = document.getElementById('rightLittle');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickRightLittle() {
            var fileinput = document.getElementById("browseRightLittle");
            fileinput.click();
        }

        function HandlechangeRightLittle() {
            var fileinput = document.getElementById("browseRightLittle");
            var textinput = document.getElementById("filenameRightLittle");
            textinput.value = fileinput.value;
        }

        //For Left Thumb

        var loadFileLeftThumb = function(event) {
            var output = document.getElementById('leftThumb');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickLeftThumb() {
            var fileinput = document.getElementById("browseLeftThumb");
            fileinput.click();
        }

        function HandlechangeLeftThumb() {
            var fileinput = document.getElementById("browseLeftThumb");
            var textinput = document.getElementById("filenameLeftThumb");
            textinput.value = fileinput.value;
        }

        //For Left index

        var loadFileLeftIndex = function(event) {
            var output = document.getElementById('leftIndex');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickLeftIndex() {
            var fileinput = document.getElementById("browseLeftIndex");
            fileinput.click();
        }

        function HandlechangeLeftIndex() {
            var fileinput = document.getElementById("browseLeftIndex");
            var textinput = document.getElementById("filenameLeftIndex");
            textinput.value = fileinput.value;
        }

        //For Left middle

        var loadFileLeftMiddle = function(event) {
            var output = document.getElementById('leftMiddle');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickLeftMiddle() {
            var fileinput = document.getElementById("browseLeftMiddle");
            fileinput.click();
        }

        function HandlechangeLeftMiddle() {
            var fileinput = document.getElementById("browseLeftMiddle");
            var textinput = document.getElementById("filenameLeftMiddle");
            textinput.value = fileinput.value;
        }


        //For Left Ring

        var loadFileLeftRing = function(event) {
            var output = document.getElementById('leftRing');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickLeftRing() {
            var fileinput = document.getElementById("browseLeftRing");
            fileinput.click();
        }

        function HandlechangeLeftRing() {
            var fileinput = document.getElementById("browseLeftRing");
            var textinput = document.getElementById("filenameLeftRing");
            textinput.value = fileinput.value;
        }

        //For Left Little

        var loadFileLeftLittle = function(event) {
            var output = document.getElementById('leftLittle');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function HandleBrowseClickLeftLittle() {
            var fileinput = document.getElementById("browseLeftLittle");
            fileinput.click();
        }

        function HandlechangeLeftLittle() {
            var fileinput = document.getElementById("browseLeftRing");
            var textinput = document.getElementById("filenameLeftLittle");
            textinput.value = fileinput.value;
        }

        $('input[type=submit]').click(function (e) {
            debugger;

            if ($('#filenameConsent').val() == '') {
                e.preventDefault();
                alert("Consent Form is required. You can click the download below, fill it, then upload to complete your recapture!");
                $('#filenameConsent').focus();
                return;
            }

        });

</script>
}
